<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.net/>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=rm18lr51uf.database.windows.net;Initial Catalog=BingWebAnswers;User ID=peddinti;Password=BingAnswers5*;Encrypt=True;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>